<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <style>
      .something {
        color: blue;
      }
    </style>
  </head>
  <body>
    <div class="something">
      This is the company name {{companyName::COMPANY_NAME::text}}
    </div>

    <div class="something">
      This is the person name {{personName::PERSON_NAME::text}}
      {{age::AGE::number}}
    </div>

    <div class="something">
      this is the description {{description::DESCRIPTION::textarea}}
    </div>
  </body>
</html>
